$font-family: 'IBM Plex Mono';

.v-application {
  [class*='text-'], .subtitle-1 {
    color: #36405a;
    font-family: $font-family, monospace !important;
  }
  font-family: $font-family, monospace !important;
}
